:root {
    --color-dark-grey: #282828;
    --color-green: #4dff53;
  }
  
  /* 기본 폰트 */
  @font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
      format("woff");
    font-weight: 500;
    font-style: normal;
  }
  
  /* 제목 폰트 */
  @font-face {
    font-family: "PilseungGothic";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/PilseungGothic.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard-Regular";
    color: white;
  }

  body{
    display: flex;
    justify-content: center;
  }
  #container{
    background-color: black;
    width: 375px;
    height: calc(100vh);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
  }
  #piro_mate{
    font-family: "PilseungGothic";
    font-size: 24px;
    margin-bottom: 30px;
  }
  #calendar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  #calendar li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  #calendar li h2{
    font-size: 18px;
  }
  #calendar li time{
    background-image: url('./images/todo_icon.svg');
    width: 22px;
    height: 22px;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #today{
    border: 1px solid var(--color-green);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background-color: var(--color-green);
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .category{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--color-dark-grey);
    border-radius: 20px;
    width: max-content;
    color: var(--color-green);
  }
  .category > .add_task_btn{
    margin-left: 5px;
  }
  .category > p, .add_task_btn > i{
    color: var(--color-green);
  }

  .add_task_btn{
    border: 1px solid var(--color-green);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .add_task_btn:hover{
    background-color: var(--color-green);
    transition: 0.3s;
  }

  .add_task_btn:hover i{
    color: var(--color-dark-grey);
    transition: 0.3s;
  }

  #list_container{
    list-style: none;
  }
  #list_container li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
  }
  #list_container li::before{
    content: '';
    background-image: url('./images/todo_icon.svg');
    background-size: cover;
    display: block;
    width: 22px;
    height: 22px;
  }
  #list_container > li.checked::before{
    content: '';
    background-image: url('./images/todo_icon_fill.svg');
    background-size: cover;
    display: block;
    width: 22px;
    height: 22px;
  }
  #task_input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-dark-grey);

    padding-bottom: 3px;
    outline: 0;
  }
  #task_input::placeholder{
    font-size: 15px;
  }