<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        body{
            background-color: rgb(43, 42, 42);
            color: aliceblue;
        }
    </style>
</head>
<body>
    <form action="{% url 'posts:idea_update' pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button>수정하기</button>
    </form>
</body>
</html>