*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color:#4D97F5;
}
.check{
    width: 24px;
    height: 24px;
    fill: #61666C;
}
.check:hover{
    cursor: pointer;
}
#logo{
    fill: #FEFFFF;
}

#black{
    height: 80vh;
    background-color: #2C3137;
}
#nav-container{
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
#nav-left{
    display: flex;
    position: relative;
    align-items: center;
}
#nav-left > div{
    color: #FEFFFF;
    margin-left: 30px;
}
#nav-right{
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
}
#nav-right > *{
    margin-right: 10px;
}
#nav-right button{
    padding: 5px;
    border: 1px solid #FEFFFF;
    border-radius: 4px;
    background-color: #2C3137;
    color: #FEFFFF;
    font-size: 16px;
}
#nav-right button:hover{
    cursor: pointer;
}
#nav-right button:first-of-type{
    border: none;
}
#nav-input-box{
    position: relative;
    width: 240px;
    height: 30px;
    border: 1px solid #464B4F;
    border-radius: 5px;
    background-color: #464B4F;
}
#box{
    top: 0;
    right: 1px;
    position: absolute;
    color: #6D756F;
    margin: 4px;
    width: 20px;
    height: 20px;
    border: 1px solid ;
    border-radius: 3px;
}
#box > span{
    position: relative;
    left: 6px;
    top: -2px;
}
#nav-input-box input{
    margin: 4px;
    height: 24px;
    background-color: #464B4F;
    border: none;
}
#nav-input-box input:focus{
    outline: none;
}
#main-container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 683.19px;
}

#main-left{
    width: 700px;
}
#title{
    font-size: 75px;
    font-weight: bold;
    color: #FEFFFF;
}
#title > p{
    margin-top: -10px;
}
#sub-title{
    width: 490px;
    font-size: 20px;
    color: #AAAAAA;
}
#sub-title > span{
    color: #FEFFFF;
    text-decoration-line: underline;
    text-decoration-color: #61666C;
    text-underline-position: under;
}

#main-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

#login-box{
    width: 449.25px;
    height: 549px;
}
#login-box > span{
    font-size: 13px;
    color: #808080;
}
.blue{
    color:#4D97F5;
}
#login-box input{
    width: 449.25px;
    height: 50px;
    border: 1px solid #e3e5e8;
    border-radius: 5px;
    background-color: white;
}
#login-box input:focus{
    outline: none;
    background-color: #E8F0FD;
}
#username div{
    color: #58595B;
    font-weight: bold;
}
#email div{
    color: #58595B;
    font-weight: bold;
}
#password div{
    color: #58595B;
    font-weight: bold;
}
.login-input{
    margin-top: 15px;
    margin-bottom: 15px;
}
.login-input > input{
    font-weight: 600;
    font-size: 15px;
    margin-top: 5px;
}

#login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    margin: 20px 0 40px 0;
    height: 56px;
    padding: 17px 0;
    background-color: #03c75a;
    color: white;
    font-size: 1.4rem;
}

#login-button:hover{
    cursor: pointer;
}




#footer{
    position: relative;
}
#image{
    position: fixed;
    top: 700px;
    right: 300px;
    width: 600px;
    height: 250px;
    background-size: cover;
    background-image: url(./footer.png);
    background-repeat: no-repeat;
}